{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Заголовок home_news_list
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
        {% for item in object_list %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a style="text-decoration: none;" href="{% url 'category' item.category.pk %}">{{ item.category }}</a> 
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="350" class="float-left mr-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title>">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                            <a href="{% url 'view_news' item.pk %}" class="btn btn-primary">Прочитать</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"d M Y H:i" }}
                </div>
            </div>
            {% empty %}
                <h1>Извините. Список пуст</h1>
            {% endfor %}
{% endblock %}
